{% extends "orders/layout.html" %}
{% load static %}

{% block body %}
    <h1>Menu</h1>

    <ul>
    {% for item in items %}
        <li>
            <img class="menu-item-img" src="{{ item.image }}" alt="">
            <div>
                <h4>{{ item.title }}</h4>
                <p>{{ item.description }}</p>
                <p>${{ item.price }}</p>
                {% if user.is_authenticated %}
                <select name="size" id="size-{{ item.id }}">
                    <option value="s">Small</option>
                    <option value="l">Large</option>
                </select>
                <button class="add-btn" data-id="{{ item.id }}">Add to Cart</button>
                {% endif %}
            </div>
        </li>
    {% empty %}
        <li>There are no items.</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block script %}
<script src="{% static 'orders/menu.js' %}"></script>
{% endblock %}
